# client app

dist
node_modules
.DS_Store
npm-debug.log


# server app

*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og

.vs/

Generated\ Files/
sh.exe.stackdump
server-app/olmelabs.battleship.api/appsettings.Production.json
