@using olmelabs.battleship.api.Models.ViewModels
@model ConfirmEmailViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>🚢Confirm Email</title>
</head>
<body>
    <p>Dear @Model.FristName,</p>
    <p>Please reset you password using the folowing <a href="@Model.SiteUrl/confirm_email?code=@Model.Code">link</a>. If you did not request an email confirmation, please ignore this e-mail.</p>
    <p>Cheers!<br />Your battleship team.</p>
</body>
</html>
