@using olmelabs.battleship.api.Models.ViewModels
@model ResetPasswordViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>🚢Reset Password</title>
</head>
<body>
    <p>Dear @Model.FristName,</p>
    <p>Please reset you password using the folowing <a href="@Model.SiteUrl/password_reset?code=@Model.Code">link</a>. If you did not request a change of password, please ignore this e-mail.</p>
    <p>Cheers!<br/>Your battleship team.</p>
</body>
</html>
